<!DOCTYPE html>
<html lang="en">

<head>
    <title>Каталог нагрузок</title>
    <link rel="stylesheet" href="/resources/styles/main.css">
</head>

<body>

    <header>
    <div class="logo">Каталог нагрузок</div>
    </header>

    

    <div class="search-container">
        <div class="search-wrapper">
            <form action="/loads" method="GET">
                <input class="search-input" type="text" name="searchingLoads" placeholder="Поиск" value="{{ .searchLoads }}">
            </form>
            <div class="cart-container">
                <a class="cart-button" href="/calc">
                    <img src="http://localhost:9000/rip/image1.png" alt="Корзина">
                </a>
                <div class="cart-indicator">
                    {{.loadsCount}}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {{range .loads}}
        <a class="card" href="/load/{{ .LoadID }}" style="text-decoration:none;color:inherit;">
            <img class="card-img" src="{{.LoadImage}}" alt="">
            <div class="card-content card-content-for-loads">
                <p class="card-title">{{.LoadTitle}}</p>
                <p class="card-text">Норматив: {{.Normative}} кг/м²</p>
            </div>
        </a>
        {{end}}
    </div>

</body>
</html>

